html {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
	background-image: url('/img/college-hub-background-1.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
  width: 100%;
  font-weight: 250;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 250;
  font-size: 32px;
  color: #ffffff;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.nav-link{
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 250;
  font-size: 14px;
}

.heading {
  font-weight: 100;
  font-size: 32px;
  color: #ffffff;
  word-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-two {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  color: #000000;
  word-spacing: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 350;
}

.subheading-two {
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  color: #000000;
  word-spacing: 5px;
  font-weight: 350;
}

a:hover{
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  cursor: pointer;
}
.bm-burger-bars {
  background-color: #373a47;
}
.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(63, 63, 65); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

.ui-card{
  background: #fff;
  border-radius: 1px;
  margin-bottom: 5px;
  -webkit-box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.single-notification{
  padding: 3px 0px 3px 0px;
  margin: 1px 0px 1px 0px;
  background-color: #fff;
}

.dashboard-nav{
  background: #fff;
  margin-bottom: 5px;
  border-top: 0.5px solid #aaa;
}

.dashboard-text{
  font-size: 12px;
  font-weight: 350;
  padding: 10px 10px 0 10px;
}

.content{
  background-color: #fff;
  height: 600px;
}