html {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: url('/img/college-hub-background-1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  width: 100%;
  font-weight: 250;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 250;
  font-size: 32px;
  color: #ffffff;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.nav-link {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 250;
  font-size: 14px;
}

.heading {
  font-weight: 100;
  font-size: 32px;
  color: #ffffff;
  word-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-two {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  color: #000000;
  word-spacing: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 350;
}

.subheading-two {
  font-size: 16px;
  text-align: center;
  color: #000000;
  word-spacing: 5px;
  font-weight: 350;
}

.subheading-three {
  font-size: 19px;
  text-align: center;
  color: #000000;
  word-spacing: 5px;
  font-weight: 320;
  padding: 20px;
}

a:hover {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  cursor: pointer;
}

.bm-burger-bars {
  background-color: #373a47;
}

.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}

.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(63, 63, 65);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}

.bm-item-list>* {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}

.bm-item-list>*>span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

.login-card {
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto !important;
}

.login-card:after {
  background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
  background: -webkit-linear-gradient(-135deg,
    rgb(63, 81, 181),
    rgb(233, 30, 99));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  opacity: 0.8;
  z-index: 3;
}

.login-card>form {
  z-index: 4;
  position: relative;
  padding: 0px 25px;
  width: 100%;
}

.logo-capsul {
  text-align: center;
  position: relative;
  opacity: 0.8;
}

.logo {
  height: auto;
  padding: 50px 0px;
}

/* form başlangıç stiller ------------------------------- */

.group {
  position: relative;
  margin-bottom: 45px;
}

.group input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #eee;
}

.group input:focus {
  outline: none;
}

/* LABEL ======================================= */

.group label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active durum */

.group input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active durum bar */

.group input:focus~.bar:before,
.group input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 0%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active durum */

.group input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* form animasyon ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }

  to {
    width: 0;
    background: transparent;
  }
}

.input-ikon {
  font-size: 25px !important;
  position: relative;
}

.input-sifre-ikon {
  font-size: 22px !important;
  position: relative;
}

.span-input {
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.login-button,
.logout-button,
.create-account,
.default-button {
  background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
  background: -webkit-linear-gradient(-135deg,
    rgb(63, 81, 181),
    rgb(233, 30, 99));
  display: block;
  text-align: center;
  text-decoration: none;
  color: #eee;
  font-family: roboto;
  font-weight: 100;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  opacity: 0.8;
  border: none;
  width: 100%;
  cursor: pointer;
}

.forgot-and-create {
  margin: 20px 0px;
}

.forgot-and-create a {
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  margin-right: 10px;
}

.error {
  color: red;
}


.ui-card {
  background: #fff;
  border-radius: 1px;
  margin-bottom: 5px;
  -webkit-box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 11px -12px 15px -2px rgba(0, 0, 0, 0.15);
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.single-notification {
  padding: 3px 0px 3px 0px;
  margin: 1px 0px 1px 0px;
  background-color: #fff;
}

.dashboard-nav {
  background: #fff;
  border-top: 0.5px solid #aaa;
  border-bottom: 0.5px solid #aaa;
}

.dashboard-text {
  font-size: 12px;
  font-weight: 350;
  padding: 10px 5px 0 0px;
}

.user-menu-icon {
  font-size: 18px;
  padding: 10px 10px 0 20px;
}

.user-menu-icon i {
  color: #000000;
}

.section {
  background-color: #fff;
  padding: 10px 0 10px 0;
}

.search-form-sec {
  padding: 0 0 4rem 0;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #BA55D3;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0 1px 1px 0;
  background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
  background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
  color: #ffffff;
}

@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1A4668;
  }
}


.dir {
  width: 20%;
  float: left;
}

.user-menu {
  width: 80%;
  float: left;
  padding-right: 10px;
}

.inner-div {
  width: 100%;
  text-align: right;
  margin-top: 5px;
}

.dashboard-greeting-display {
  padding-bottom: 10px;
  padding-top: 5px;
  overflow: hidden;
}

.feature {
  background: #ffffff;
  border-radius: 1px;
  height: 80px;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.feature-img {
  height: 100%;
  width: 100%;
  border-radius: 1px 0 0 1px;
}

.feature-text {
  padding: 10px 0px 0px 10px;
  margin: 0px;
  font-size: 12px;
  color: #aaaaaa;
}

.feature-heading {
  padding: 0px 0px 10px 10px;
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
}

.profile-image {
  margin-left: 25%;
  width: 60%;
}

.user-profile {
  text-align: center;
  background-color: #ffffff;
  padding: 5px 5px 20px 5px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}

.feed {
  width: 100%;
  height: 170px;
  border-bottom: 0.5px solid #ccc;
}

.inner-title-sec {
  background-color: #eeeeee;
  height: 30px;
  border-bottom: 0.5px solid #aaaaaa;
}

.inner-title-sec h2 {
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0 0 0;
}

.default-user-panel {
  background: #ffffff;
  border-radius: 1px;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.img-circle {
  margin-top: 20px;
  border-radius: 50%;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  width: 80%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.section-amenities {
  margin-top: 10px;
}

.section-amenities i {
  margin-right: 5px;
}

.rental-alert .success {
  font-size: 16px;
  color: green;
  text-align: center;
  margin-top: 20px;
}

.rental-alert .danger {
  font-size: 16px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.section-title {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  padding: 15px;
}

.recommended-card {
  padding: 10px 10px 10px 10px;
}

.section-subtitle {
  font-weight: 320;
  font-size: 18px;
  color: #000000;
  word-spacing: 5px;
  padding: 15px 0px 0px 0px;
  margin-bottom: 0px;
}

.section-small-text {
  font-weight: 420;
  font-size: 12px;
  color: #696969;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-description {
  text-align: justify;
  font-size: 14px;
  font-weight: 330;
  padding-top: 10px;
}

.time-estimate {
  text-align: justify;
  font-size: 12px;
  font-weight: 450;
}

.recommended-card {
  padding: 10px;
  -webkit-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 4px;
}

.recommended-house-image {
  width: 100%;
  border-radius: 2px;
  height: 180px;
}

@media only screen and (max-width: 600px) {
  .amenities {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .amenities {
    text-align: right;
  }
}
